* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*HEADER*/
header {
    padding: 10px 4%;
    display: flex;
    width: 100%;
    background-color: #000;
}
.logo {
    width: 30%;
}
nav {
    width: 70%;
    display: flex;
    justify-content:flex-end;
}

header img {
    height: 90px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 15px;
    align-items: center;
    margin-right: 50px;
    margin-top: 30px;
}

nav a {
    text-decoration: none;
    color: #FEA802;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 2px;
}

#nav-btn {
    background-color: #0E3FA9;
    border-radius: 25px;
    padding: 13px;
}
/*MAIN*/
main {
    width: 100%;
    height: 80vh;
    padding: 280px 4%;
    background-image: url('../img/filmes.png');
    background-position: center;
    background-size: contain;
    /*background-size: cover;deixa o banner maior*/
    background-repeat: no-repeat;
    background-color: #000;
}

.carousel-texts {
    text-align: center;
    width: 100%;
    color: white;
}

h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2rem;
    border-bottom: 3px solid transparent;
    border-image-slice: 1;
    text-shadow: 2px 2px 2px #000000;
}

.underline {
    margin: 0 auto;
    max-width: 600px;
    height: 5px;
    background: linear-gradient(0.25turn, #0E3FA9, #FEA802);
}

h3 span {
    font-weight: 700;
    display: block;
}

#carousel-text2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px 2px #000000;
}

#carousel-text2 span {
    display: block;
}

#carousel-text2 small {
    font-size: 0.8rem;
}

.carousel-texts button {
    background-color: #0E3FA9;
    border: none;
    color: #FEA802;
    padding: 15px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}

.carousel-texts button:hover {
    background: linear-gradient(345deg, rgb(73, 12, 176) 0%, #FEA802 33%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0) 100%) 99% 50% / 400% 400%;
    outline: 1px solid transparent;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease 0s !important;
}
/*FOOTER*/
footer{
    text-align: center;
    color: white;
    width: 100%;
    padding: 35px 4%;
    background-color: #000;
}
footer p{
    margin-top: 20px;
    font-weight: bolder;
}